body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  height: 100vh;
}

.calculator {
  background-color: antiquewhite;
  padding: 20px;
}

.screen {
  width: 90%;
  height: 40%;
  margin: 10px;
  padding: 4px;
  text-align: end;
  background-color: aqua;
}

.buttons {
  display: grid;
  width: 220px;
  grid-template-columns: auto auto auto auto;
}

button {
  border-radius: 50px;
  width: 25%;
  font-size: 40px;
  margin: 4px;
}

#clear {
  font-size: 15px;
}
